/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
H1{
    border-width: 10px solid rgb(219, 34, 34);
    border-style: dashed;
    border-top: 3px dotted green;
    border-bottom: 10px solid yellow;

}
 
img {
    border: 3px solid black;
    border-radius: 25%;
}
h1 {
    border: 2px solid red;
    padding:30px 20px 10px 0;
    text-align: center;
    width: 30%;
    margin: 50px auto;
}
